.izquierda {
    float: left;
}

.derecha {
    float: right;
    margin-left: 4px;
}
footer {
    position: relative;
    left: 0px;
    bottom: 0px;
  
    background: #f5f5ef;
    margin-bottom: 2rem;
}

.rs {
    vertical-align: middle;
}

.texto-info{
    font-size: 0.8rem;
}
body {
    background: lightblue;
  }